body
{
	color: white;
	background-image: url(img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.title
{
	margin: 30px auto;
	text-align: center;
	font-size: 40px;
	text-shadow: red 0 0 20px;
}

.press
{
	background-color: red;
	font-size: 22px;
	color: white;
	border: none;
	width: 250px;
	height: 48px;
	text-align: center;
	position: absolute;
	left: calc(50% - 125px);
	cursor: pointer;
	outline: 2px solid;
}

.press:hover
{
	box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

#create
{
	top: 100px;
}

#choose
{
	top: 170px;
	display: none;
}

#catch
{
	top: 240px;
	display: none;
}

#train
{
	top: 310px;
	display: none;
}

#fight
{
	top: 380px;
	display: none;
}

#controls
{
	top: 450px;
	display: none;
}

#exit
{
	top: 520px;
	display: none;
}

#close
{
	display: none;
}

.center
{
   	margin: auto;
    width: 700px;
    height: 270px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    outline: 2px solid black;
}

.hideForm
{
	display: none;
}

p
{
	color: black;
	font-size: 18px;
}

#oak
{
	display: inline-block;
	vertical-align: top;
	max-width: 60%;
	max-height: 60%;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left; 
}  

#afterName
{
	display: none;
}

#continue
{
	display: none;
}

#selectPokemon
{
	display: none;
}

.bulbasaur
{
	display: inline-block;
	vertical-align: top;
	max-width: 30%;
	max-height: 30%;
	margin-top: 85px;
	margin-left: 80px;
	margin-right: 60px;
	margin-bottom: 10px;
	float: left; 
}

.Bulbasaur
{
	border: solid;
	border-radius: 1px;
	border-color: green;
}

.charmander
{
	display: inline-block;
	vertical-align: top;
	max-width: 30%;
	max-height: 30%;
	margin-right: 60px;
	margin-top: 85px;
	margin-bottom: 10px;
	float: left; 
}

.Charmander
{
	border: solid;
	border-radius: 1px;
	border-color: red;
}

.squirtle
{
	display: inline-block;
	vertical-align: top;
	max-width: 30%;
	max-height: 30%;
	margin-right: 20px;
	margin-top: 85px;
	margin-bottom: 10px;
	float: left; 	
}

.Squirtle
{
	border: solid;
	border-radius: 1px;
	border-color: blue;
}

.hide
{
	display: none;
}

#goodbye
{
	display: none;
}

#dupeTrainer
{
	display: none;
}

#dupeStarter
{
	display: none;
}

#encounter
{
	display: none;
}

#catchPokemon
{
	display: none;
}

#runAway
{
	display: none;
}

#oakText
{
	display: none;
}

#pokemonEncounter
{
	display: none;
}

#caughtPokemon
{
	display: inline-block;
	vertical-align: top;
	max-width: 20%;
	max-height: 20%;
	margin-left: 50px;
	margin-top: 40px;
	margin-bottom: 10px;
	float: left; 
}

#accept
{
	float: right;
	margin-top: 190px;
	size: 30px;
}